body{
text-align:center;
background: #f4f4f9;
font-family: Arial, sans-serif;
margin: 100px;
}
h1{
color: #0078d7 ;
}
button1{
padding: 10px 20px;
border: none;
background: #0078d7;
color: white;
border-radius: 5px;
cursor: pointer;
}
button2{
padding: 10px 20px;
border: none;
background: #00ff95;
color: rgb(0, 0, 0);
border-radius: 5px;
cursor: pointer;
}
button3{
padding: 10px 20px;
border: none;
background: #ff0000;
color: rgb(0, 0, 0);
border-radius: 5px;
cursor: pointer;
}
button:hover{
background: #005fa3;
}